---
// Feature Cards grid Section
// ------------
// Description: A grid of cards with feature information in a 4 column layout.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/FeatureCard.astro'

// Content
// - Cards
import feature01 from '../../../assets/cards/auditorio1.jpeg'
import feature02 from '../../../assets/cards/junta1.jpeg'
import feature03 from '../../../assets/cards/lunch1.jpeg'
import feature04 from '../../../assets/cards/premio2.jpeg'
import feature05 from '../../../assets/cards/orquesta.jpeg'
---

<Section id="features">
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-pretty">Celebramos nuestro <strong>Primer Aniversario!</strong> </h2>
			<p class="pb-0 text-lg">
				Cumpliendo con nuestra razón de ser y espíritu sindical, pero tambien tuvimos un tiempo para 
				compartir con todos nuestros afiliados, nuestra gran familia Ossept. 
			</p>
		</Col>
	</Row>
	<Row>
		<Col span="4">
			<Card
				title="Un logro sin precedentes"
				image={feature01}
				subtitle="Permiso sindical para 150 servidores públicos del municipio de Sincelejo."
				link="/features"
				
			/>
			
		</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="Comprometidos con la causa"
				image={feature02}
				subtitle="Sinergía para lograr la realización de un evento que cumpliera con todas las expectativas."
				link="/features"
			/>
			
		</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="Cierre con broche de oro"
				image={feature03}
				subtitle="Terminamos nuestra celebración con una merecida integración."
				link="/features"
			/>
			
		</Col>
	</Row>
</Section>
