---
// Home page CTA Section
// ------------
// Description: A centered call to action section that contains: a title, text, a user review snippet, a button and a image.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import ChipNotification from '../../ui/ChipNotification.astro'
import { Image } from 'astro:assets'
import Button from '../../ui/Button.astro'
import AvatarGroup from '../../ui/AvatarGroup.astro'

// Content
// - Hero Image
import heroImage from '../../../assets/ossept8.jpeg'
// - Avatars

---
<Section id="intro" padding="top" classes="bg-neutral-50 dark:bg-neutral-900">
    
            <Image
                src={heroImage}
                width="1600"
                height="700"
                alt="Foxi. The tailwind astro theme"
                class="object-cover w-full h-[60vh] md:h-[80vh] lg:h-[90vh] translate-y-8 shadow-2xl shadow-neutral-200 dark:shadow-neutral-950"
                format="webp"
            />

 
</Section>
